tensorflow
nvidia-cudnn-cu12
numpy
pandas
h5py
scipy
build
pytest
pytest-asyncio
pytest-cov
pytest-mock
pdoc3
keras-multi-head
pydot
graphviz
backtrader
deap
pmdarima
protobuf
matplotlib
tensorflow-probability
keras.utils
tf-keras
tqdm
PyWavelets
hypothesis
pydocstyle
httpx
fastapi
uvicorn[standard]
sqlalchemy
bcrypt
aiofiles
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
PyJWT
aiosqlite
